body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}


/*h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}*/
/*
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}*/

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info-slide {
    background: rgba(0,0,0,.8); 
    border-radius: 5px;
}

.central-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.panel{
    padding-right: 380px;
}

.center{
    float: left;
    position: relative;
    padding: 0 0 0 15px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#contacts {
    padding: 20px 20px;
    background-color: #343a40 !important;
    /*background-color: #444c59;*/
    color: #e8ecef;
}

.fondo {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-image: url('images/optica.jpg');
    background-size: cover;
    opacity: .6;
    position: fixed;
    filter: blur(8px);
}

.panel-registro{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 20px 20px;
}

.panel-registro h6 {
    color: white;
}

.panel-registro h2 {
    color: white;
    text-align: left;
    margin: 20px 30px;
}

.panel-editar{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,15%);
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 20px 20px;
}

.panel-editar h6 {
    color: white;
}

.panel-editar h2 {
    color: white;
    text-align: left;
    margin: 20px 30px;
}

.panel-agendar{
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 20px 40px;
}

.panel-agendar h6 {
    color: white;
}

.panel-agendar h2 {
    color: white;
    text-align: left;
    margin: 20px 30px;
}

.panel-login {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.panel-contacto {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.panel-login h2 {
    margin: 20px 30px;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.panel-contacto h2 {
    margin: 20px auto;
    /*padding: 0;*/
    color: #FFF;
    text-align: center;
}

.panel-login label {
    color: white;
    margin: 0px 20px;
}

.panel-contacto strong {
    color: white;
    margin: 0px 20px;
}

.panel-login label input {
    width: 130%;
}

.panel-registro label input {
    display: block;
    margin: 5px 5px;
}

.panel-registro label strong {
    color:white;
}

.panel-editar label input {
    display: block;
    margin: 5px 5px;
}

.panel-editar label strong {
    color:white;
}

.panel-agendar label input {
    display: block;
    margin: 5px 5px;
}

.panel-agendar label strong {
    color:white;
}

tr {
    margin: 10px 20px;
}

.input-login {
    /*margin: 0px auto;*/
    padding: 0px 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 5px;
    /*width: 100%;*/
    /*display: block;*/
}

.mensaje{
    width: 100%;
    height: 30px;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

.input-perfil {
    /*margin: 0px auto;*/
    padding: 0px 10px;
    border: none;
    color: black;
    border-radius: 3px;
    height: 35px;
    width: 100%;
    /*width: 100%;*/
    /*display: block;*/
}

.lbl-perfil {
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
}

footer {
    width: 100%;
    background: rgb(52,58,64);
    bottom: 0;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    z-index: 4;
}
footer h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.panel-citas {
    /*    position: relative;
        background-color: rgba(171,171,171,.5);
        padding: 5px;
        margin: 10px 100px 10px 100px;*/
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    background-color: rgba(171,171,171,.5);
    border-radius: 5px;
}

.caption {
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
}

#tablaCon {
    width: 80%;
}

#tablaCon table thead tr th,
#tablaCon table tr td {
    border: 1px rgba(0,0,0,.2) solid;
    padding: 10px 15px;
}

#tablaCon table {
    border-collapse: collapse;  
    width: 80%; 
    /*margin: 0 auto 5rem;*/
    border: 1px rgba(0,0,0,.2) solid;
}

#tablaCon th {
    padding: 7px;
    font-size: 14px; 
}

#tablaCon td { 
    padding: 7px;
    font-size: 14px; 
    transition: .4s ease-in; 
}

#tablaCon tr {
    /*background: hsla(54, 66%, 87%,.7);*/
    background-color: rgba(255,255,255,.9);
}

#tablaCon th{
    /*background: hsl(101, 34%, 44%);*/
    text-align:center;
    background:none repeat scroll 0 0 rgba(52,58,64,.9);
    border-left: rgba(255,255,255,0.7) 2px solid;
    border-right: rgba(255,255,255,0.7) 2px solid;
    border-bottom: 1px solid #fff;  
    /*padding:2px;*/
    height: 35px;
    color: #FFF;
}

#tablaCon tr:nth-child(even) { 
    background-color: rgb(200, 200,200);
    /*    background: rgba(0,0,0,.1); */
}

/*#tablaCon tr:hover:not(#firstrow), 
tr:hover td:empty {
    background: rgba(112,173,71, 0.6); 
    pointer-events: visible;
}*/

#tablaCon tr:hover:not(#firstrow) { 
    transform: scale(1.05); 
    box-shadow: 0px 3px 7px rgba(0,0,0, 0.5);
}

.error {
    border: none;
    border-radius: 2px;
    background: rgba(242,222,222, .8);
    color: rgb(169,68,68);
    height: 30px;
    width: 100%;
    font-size: 13px;
    padding-left: 10px;
    text-align: center;
    padding-top: 5px;
}

.info {
    border: none;
    border-radius: 2px;
    background: rgba(223,240,216, .8);
    color: rgb(60,118,60);
    height: 30px;
    width: 100%;
    font-size: 13px;
    padding-left: 10px;
    text-align: center;
    padding-top: 5px;
}

.warning {
    border: none;
    border-radius: 2px;
    background: rgba(252,248,227, .8);
    color: rgb(138,109,60);
    height: 30px;
    width: 100%;
    font-size: 13px;
    padding-left: 10px;
    text-align: center;
    padding-top: 5px;
}

.normalM {
    border: none;
    border-radius: 3px;
    background: none;
    color: rgba(0,0,0,0);
    height: 0;
    width: 0;
}

#msjContactar ul,
#msjEditar ul{
    list-style: none;
}

tr > td > ul {
    padding-left: 0px;
    list-style: none;
}

#btn-editar input.btn-outline-light:hover {
    /*    color: #212529;*/
    color: #fff !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

#btn-login input.btn-outline-light:hover {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

#btn-registrar input.btn-outline-light:hover,
#btn-guardar input.btn-outline-light:hover,
#btn-agendar input.btn-outline-light:hover {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

#btn-contacto input.btn-outline-light:hover {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

#tableCli table th,
#tableCli table td,
#tableCli table {
    border: 1px white solid;
    padding: 0px 20px;
    /*background: rgba(50,50,50,.4);*/
    margin: auto auto;
    text-align: center;
}

#tableCli table th {
    background: rgba(100,100,100,0.4);
    color: white;
}

#tableCli table tbody td {
    color: black;
    background: rgba(200,200,200,1);
}

#tableCli table tbody td:nth-child(even) {
    background: rgba(200,200,200,.5) !important;
    color: black !important;
}

#tableCli table tbody td:hover {
    cursor: default;
    background: white;
}

.select-form {
    width: 90% !important;   
}